<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue";
class Person {
  id: number;
  name: string;
  surname: string;
  gender: string;
  static lastId = 1;
  constructor(name: string, surname: string, gender: string) {
    this.id = Person.lastId++;
    this.name = name;
    this.surname = surname;
    this.gender = gender;
  }
}
const person = reactive<Person>({ id: -1, name: "", surname: "", gender: "" });
const msg = reactive({ name: "", surname: "", gender: "" });
const personList = ref<Person[]>([]);
const showFrom = ref(false);
const checkName = function (name: string) {
  if (name.trim().length == 0) {
    msg.name = "First name is empty!!!";
    return false;
  }
  msg.name = "";
  return true;
};

const checkSurname = function (surname: string) {
  if (surname.trim().length == 0) {
    msg.surname = "Second name is empty!!!";
    return false;
  }
  msg.surname = "";
  return true;
};

const checkGender = function (gender: string) {
  if (gender.trim().length == 0) {
    msg.gender = "Gender is empty!!!";
    return false;
  }
  msg.gender = "";
  return true;
};

const clearFrom = function () {
  person.name = "";
  person.surname = "";
  person.gender = "";
  person.id = -1;

  nextTick(() => {
    //Update from finished
    msg.name = "";
    msg.surname = "";
    msg.gender = "";
  });
};
watch(
  () => person.name,
  (name) => {
    checkSurname(name);
  }
);
watch(
  () => person.surname,
  (surname) => {
    checkName(surname);
  }
);
watch(
  () => person.gender,
  (gender) => {
    checkGender(gender);
  }
);
function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGender(person.gender)
  ) {
    if (person.id < 0) {
      //Add new
      const p = new Person(person.name, person.surname, person.gender);
      personList.value.push(p);
    } else {
      //Edit
      const index = personList.value.findIndex((item) => item.id === person.id);
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gender = person.gender;
    }
    clearFrom();
    showFrom.value = false;
  }
}
const doEdit = function (p: Person) {
  person.name = p.name;
  person.surname = p.surname;
  person.gender = p.gender;
  person.id = p.id;
  showFrom.value = true;
};
const doDelete = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id === p.id);
  personList.value.splice(index, 1);
};
</script>
<template>
  <h2>Person</h2>
  <div class="from">
    <div v-if="showFrom">
      <form>
        <label for="name">First Name</label>
        <input type="text" id="name" v-model="person.name" autocomplete="off" />
        <span class="error">{{ msg.name }}</span>

        <label for="surname">Second Name</label>
        <input
          type="text"
          id="usrname"
          v-model="person.surname"
          autocomplete="off"
        />
        <span class="error">{{ msg.surname }}</span>

        <label for="gender">Gender</label>
        <select id="gender" v-model="person.gender">
          <option hidden selected>Select Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <span class="error">{{ msg.gender }}</span>
        <input type="submit" value="Submit" @click.prevent="doSubmit" />
      </form>
    </div>
    <div v-if="!showFrom">
      <div style="width: 100%; text-align: right">
        <button @click="showFrom = !showFrom">Add</button>
      </div>
      <div>
        <table id="persons">
          <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Gender</th>
            <th style="width: 250px">Operation</th>
          </thead>
          <tr v-for="(item, index) in personList" :key="index">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.gender }}</td>
            <td>
              <button style="background-color: gray" @click="doEdit(item)">
                Edit
              </button>
              <button style="background-color: red" @click="doDelete(item)">
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td
              colspan="5"
              style="text-align: center"
              v-if="personList.length === 0"
            >
              No Data
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped>
label {
  color: #000;
}
input[type="text"],
select {
  color: #000;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.from {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.error {
  color: red;
  font-size: smaller;
  display: block;
}
#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #000;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#persons tr:hover {
  background-color: #ddd;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

button {
  width: 100px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1em;
}
h2 {
  font-size: 20pt;
  color: darkblue;
}
</style>
